body {
    font-family: 'Poppins', sans-serif;
    background-color: #083D77;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: white;
}

.input {
    width: 450px;
    height: 50px;
    margin: 5px;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 20px;
    padding-right: 20px;
    border: inherit;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
    outline: none;
}

.boton-agregar {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: inherit;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    color:white;
    font-size: 20px;
}

.boton-agregar:hover {
    opacity: 0.9;
}

.item-input{
height: 50px;
width:300px;
padding: 0px 20px;
border-style: solid;
border-color: white;
border-width: 1px;
border-radius: 10px;
font-size: 18px;
color: white;
background: none;
outline: none;
}

.item{
  margin: 10px 0px;
}

.boton-editar{
margin: 0px 5px;
border: none;
background: none;
color:#62d0ff;
font-family: Montserrat, sans-serif;
font-size:1.4rem;
}

.boton-editar:hover{
  opacity: 0.9;
}

.boton-remover{
  width: 50px;
  height: 50px;
  margin: 0px 5px;
  font-size:20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 6, 46);
  color:white;
}

.boton-remover:hover{
  opacity: 0.9;
}
